
<div class="justify-content-center d-flex" >
  <p class="currentStatus"></p>
</div>

<div class="justify-content-center d-flex">
  <button mat-raised-button class="start-game-button"
          color="accent" (click)="startGame();">Start Tic Tac Toe</button>
</div>

<div class="justify-content-center d-flex" *ngIf="this.game.status === 1">
  <table>
    <tr *ngFor="let Row of game.field; let x = index">
      <td *ngFor="let cell of Row; let y = index" class="subfield"
          (click)="onclick(x,y)" >
        {{ cell }} 
      </td>
    </tr>
  </table>
</div>
